<div id="icon-nav-container">
	<a href="https://github.com/prfraser" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> <span>Github.</span></a>
	<a href="https://www.linkedin.com/in/philip-fraser-92745b14a/" target="_blank"  id="linkedin-icon"><i class="fa fa-linkedin" aria-hidden="true"></i> <span>LinkedIn.</span></a>
</div>
<header class="nav-container">
	<div id="nav-top">
		<%= link_to 'HOME', root_path, :class => "nav-link nav-top-link"%>
		<%= link_to 'CONTACT', contacts_path, :class => "nav-link nav-top-link"%>
	</div>
</header>
<sidebar class="sideItem-container">
	<div class="sideItem-in">
		<%= link_to 'HOME', root_path, :class => "nav-link nav-side-link"%>
		<%= link_to 'CONTACT', contacts_path, :class => "nav-link nav-side-link"%>
	</div>
</sidebar>
