<div class="header-container">
	<div class="header">
		<h1>Philip Fraser</h1>
		<p>Studying to be a web developer.</p>
		<p>From Brisbane, Australia.</p>
	</div>
</div>
<div class="skills-container">
	<p>css.</p>
	<p>html.</p>
	<p>sass.</p>
	<p>ruby.</p>
	<p>rails.</p>
	<p>bootstrap.</p>
</div>
<div class="example-one">
	<h2>What I do:</h2>
	<p>I'm Philip Fraser, a web developer and designer.</p>
	<p>I love building websites, applications and mobile apps with a particular focus on design and ux. </p>
	<p>If you would like to get in touch feel free to contact me.</p>
</div>
<div class="example-two">
	<div class="main-button" id="example-two-button"></div>
</div>
<div class="example-three"></div>
<div class="example-four"></div>
<div class="example-five"></div>