<div id="icon-nav-container">
	<a href="https://github.com/prfraser"><i class="fa fa-github" aria-hidden="true"></i> Github.</a>
	<a href="https://www.linkedin.com/in/philip-fraser-92745b14a/"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn.</a>
</div>
<div class="header-container">
	<div class="header">
	</div>
</div>
<div class="skills-container">
	<p>css.</p>
	<p>html.</p>
	<p>sass.</p>
	<p>ruby.</p>
	<p>rails.</p>
	<p>bootstrap.</p>
</div>
<div class="example-one">
	<h2>What I do:</h2>
	<div class="linebreaker"></div>
	<p>I'm Philip Fraser, a web developer and designer. <br/> I love building websites, applications and mobile apps with a particular focus on design and ux. If you would like to get in touch feel free to contact me.</p>
</div>
<div class="projects-title-bar">
	<h2>Projects:</h2>
	<div class="linebreaker"></div>
</div>
<div class="example-two">
	<div class="example-two-box1">
		<div class="image-caption">
			<p>Example Project</p>
			<div class="linebreaker"></div>
		</div>
		<%= image_tag ("image1"), class: "example-two-imagebox1" %>
	</div>
	<div class="example-two-box2">
		<div class="image-caption">
			<p>Example Project</p>
			<div class="linebreaker"></div>
		</div>
		<%= image_tag ("image2"), class: "example-two-imagebox2" %>
	</div>
	<div class="example-two-box3">
		<div class="image-caption">
			<p>Example Project</p>
			<div class="linebreaker"></div>
		</div>
		<%= image_tag ("image3"), class: "example-two-imagebox3" %>
	</div>
	<div class="example-two-box4">
		<div class="image-caption">
			<p>Example Project</p>
			<div class="linebreaker"></div>
		</div>
		<%= image_tag ("image4"), class: "example-two-imagebox4" %>
	</div>
</div>
