<div id="icon-nav-container">
	<a href="https://github.com/prfraser"><i class="fa fa-github" aria-hidden="true"></i> Github.</a>
	<a href="https://www.linkedin.com/in/philip-fraser-92745b14a/"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn.</a>
</div>
<div class="header-container">
	<div class="header">
	</div>
</div>
<div class="skills-container">
	<p>css.</p>
	<p>html.</p>
	<p>sass.</p>
	<p>ruby.</p>
	<p>rails.</p>
	<p>bootstrap.</p>
</div>
<div class="example-one">
	<h2>What I do:</h2>
	<p>I'm Philip Fraser, a web developer and designer. <br/> I love building websites, applications and mobile apps with a particular focus on design and ux. If you would like to get in touch feel free to contact me.</p>
</div>
<div class="example-two">
	<!-- <img src="/app/assets/images/csszen.png" alt=""> -->
	<%= image_tag ("csszen.png"), class: "img-responsive" %>
	<!-- <div class="main-button" id="example-two-button"></div> -->
</div>
<div class="example-three"></div>
<div class="example-four"></div>
<div class="example-five"></div>