<div class="header-container">
	<div class="header">
		<h1>Philip Fraser</h1>
		<p>Studying to be a web developer.</p>
		<p>From Brisbane, Australia.</p>
	</div>
</div>
<div class="example-one"></div>
<div class="example-two">
	<div class="main-button" id="example-two-button"></div>
</div>
<div class="example-three"></div>
<div class="example-four"></div>
<div class="example-five"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14159.373033342396!2d152.99709850000002!3d-27.4741387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sau!4v1504225201319" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe></div>
<div class="example-six">
    <ul id="hexGrid">
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>        	
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>        	
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>        	
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
        	<a href="" class="hexLink">
        		<img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
        	</a>
        </div>
      </li>
    </ul>
</div>