<div class="header-container">
	<div class="header">
		<h1>Philip Fraser</h1>
		<p>Studying to be a web developer.</p>
		<p>From Brisbane, Australia.</p>
	</div>
</div>
<div class="example-one"></div>
<div class="example-two"></div>
<div class="example-three"></div>
<div class="example-four"></div>
<div class="example-five"></div>